<div class="container-fluid" >
  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row" >
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>It will seem like simplified</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0" >
          <div class="row">
            <div class="col-sm-4" *ngFor="let data of user">
              <div class="avatar-lg mx-auto mb-4" *ngIf="!data.image">
                <span class="avatar-title rounded-circle bg-soft bg-primary text-primary font-size-16">
                  {{data?.firstname?.charAt(0) + data?.lastname?.charAt(0)}}
                </span>
              </div>
               <div *ngIf="data.image" class="mb-4">
                <img class="rounded-circle avatar-sm" src="{{data.image}}"/>
              </div>
              <h5 class="font-size-15 text-truncate">&nbsp;&nbsp;&nbsp;&nbsp;{{data.firstname}} {{data.lastname}}</h5>
              <p class="font-size-15 text-truncate">&nbsp;&nbsp;&nbsp;&nbsp;{{data.Experience}}</p>
            </div>
            <div class="col-lg-8">
              <div class="pt-4">
                <div class="row">
                  <div class="col-3">
                  </div>
                  <div class="col-3">
                  </div>
                  <div class="col-6" *ngFor="let project of projects">
                    <h5 class="font-size-15">{{projects?.length}}</h5>
                    <p class="text-muted mb-0">Projects</p>
                  </div>
                  <!-- <div class="mt-4">
                    <a href="" class="btn btn-primary btn-sm">Change Photo <i
                            class="mdi mdi-arrow-right ms-1"></i></a>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card" >
        <div class="card-body">
          <h4 class="card-title mb-4">Personal Information
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="list-inline-item" (click)="openUpdateModal(updatetemplate, user)"> 
            <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary" ><i class="bx bx-pencil font-size-18"></i></a>
        </li>  </h4>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody *ngFor="let data of user" >
                <tr>
                  <th scope="row">Full Name :</th>
                  <td>{{data.firstname}} {{data.lastname}}</td>
                </tr>
                <tr>
                  <th scope="row">Mobile :</th>
                  <td>{{data.Mobile}}</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>{{data.email}}</td>
                </tr>
                <tr>
                  <th scope="row">Address :</th>
                  <td>{{data.Location}}</td>
                </tr>
                <tr>
                  <th scope="row">Function :</th>
                  <td>{{data.Experience}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end card -->

      <!-- <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-5">Skills</h4>
          <div class="">
            <ul class="verti-timeline list-unstyled">
              <li class="event-list active">
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle bx-fade-right"></i>
                </div>
                <div class="media">
                  <div class="me-3">
                    <i class="bx bx-server h4 text-primary"></i>
                  </div>
                  <div class="media-body">
                    <div>
                      <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Back end Developer</a>
                      </h5>
                      <span class="text-primary">2016 - 19</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="event-list">
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
                <div class="media">
                  <div class="me-3">
                    <i class="bx bx-code h4 text-primary"></i>
                  </div>
                  <div class="media-body">
                    <div>
                      <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Front end Developer</a>
                      </h5>
                      <span class="text-primary">2013 - 16</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="event-list">
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
                <div class="media">
                  <div class="me-3">
                    <i class="bx bx-edit h4 text-primary"></i>
                  </div>
                  <div class="media-body">
                    <div>
                      <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">UI /UX Designer</a></h5>
                      <span class="text-primary">2011 - 13</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>  -->
    </div>

    <div class="col-xl-8">

      <div class="row">
        <div *ngFor="let stat of statData" class="col-md-4">
          <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
        </div>

      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Revenue</h4>
          <apx-chart dir="ltr" class="apex-charts" [series]="revenueBarChart.series" [chart]="revenueBarChart.chart"
            [xaxis]="revenueBarChart.xaxis" [colors]="revenueBarChart.colors" [yaxis]="revenueBarChart.yaxis"
            [dataLabels]="revenueBarChart.dataLabels" [stroke]="revenueBarChart.stroke"
            [plotOptions]="revenueBarChart.plotOptions" [fill]="revenueBarChart.fill">
          </apx-chart>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">My Projects</h4>
          <div class="table-responsive">
            <table class="table table-nowrap table-hover mb-0">
              <thead>
                <tr>
                  <th scope="col">Projects</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects">
                  <td>
                    <p class="text-muted mb-0 text-truncate font-size-14">{{project.name}}</p>
                  </td>
                  <td>
                    <p class="text-muted mb-0 text-truncate font-size-14">{{project.starter_at| date:'longDate'}}</p>
                  </td>

                  <td>
                    <p class="text-muted mb-0 text-truncate font-size-14">{{project.end_date| date:'longDate'}}</p>
                  </td>
                  <td>
                    <p class="badge" [ngClass]="{'bg-success': project.status === 'completed','bg-info': project.status === 'active',
                    'bg-warning': project.status === 'suspended',
                    'bg-danger': project.status === 'paused' }">{{project.status}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- ////*****************************************updatemodal*******************************************************************/////////////// -->
<ng-template #updatetemplate let-modal>
  <form class="form-horizontal offset-md-2" [formGroup]="formUpdate">
    <div class="modal-header">
      <h3 class="modal-title pull-left">Update User </h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="col-sm-4 pull-left">
          <label class="control-label">FirstName *</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="firstname"
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" id="firstname" rows="3">
          <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">firstname is required</div>
            <div *ngIf="f.firstname.errors.pattern">This value should be a valid name</div>
          </div>
        </div>
        <div class="col-sm-4 pull-left">
          <label class="control-label">LastName*</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="lastname"
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" id="lastname" rows="3">
          <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">lastname is required</div>
            <div *ngIf="f.lastname.errors.pattern">This value should be a valid name</div>
          </div>
        </div>
        <div class="col-sm-4 pull-left">
          <label class="control-label">Mobile</label>
        </div>
        <div class="col-sm-8">
          <input type="number" class="form-control" formControlName="Mobile"
            [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }" id="Mobile" rows="3">
          <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
            <div *ngIf="f.Mobile.errors.required">Mobile is required</div>
            <div *ngIf="f.Mobile.errors.pattern">This value should be a valid name</div>
          </div>
        </div>
        <div class="col-sm-4 pull-left">
          <label class="control-label">E-mail</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" rows="3">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
            <div *ngIf="f.email.errors.pattern">This value should be a valid email</div>
          </div>
        </div>
        <div class="col-sm-4 pull-left">
          <label class="control-label">Address</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="Location"
            [ngClass]="{ 'is-invalid': submitted && f.Location.errors }" id="Location" rows="3">
          <div *ngIf="submitted && f.Location.errors" class="invalid-feedback">
            <div *ngIf="f.Location.errors.required">Location is required</div>
            <div *ngIf="f.Location.errors.pattern">This value should be a valid Location</div>
          </div>
        </div>
        <div class="col-sm-4 pull-left">
          <label class="control-label">Function</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="Experience"
            [ngClass]="{ 'is-invalid': submitted && f.Experience.errors }" id="Experience" rows="3">
          <div *ngIf="submitted && f.Experience.errors" class="invalid-feedback">
            <div *ngIf="f.Experience.errors.required">Experience is required</div>
            <div *ngIf="f.Experience.errors.pattern">This value should be a valid Experience</div>
          </div>
        </div>
        <div class="form-group">
          <div class="pos-r">
            <label id="upload-photo-label" for="photo">PHOTO</label>
            <input id="photo" type="file"  accept="image/*" name="photo" placeholder="photo"
              accept="image/x-png,image/gif,image/jpeg" required formControlName="photo"
              (change)="handleImageInput($event.target.files)"
              class="form-password form-control" style="display: none;">
              <div *ngIf="submitted && f.photo.errors" class="invalid-feedback">
                <div *ngIf="f.photo.errors.required">photo is required</div>
                <div *ngIf="f.photo.errors.pattern">This value should be a valid photo</div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success pull-left" (click)="updateProfile()">Edit</button>
      <button type="button" class="btn btn-danger" (click)="dismiss(modal)">Annuler</button>
    </div>
  </form>
</ng-template>
<!-- ////*****************************************EndUpdatemodal*******************************************************************/////////////// -->

