<div class="container-fluid">
  <!-- start page title -->
  <app-page-title title="Task List" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start">
            <h4 class="card-title mb-4">Upcoming</h4>
            <button class="btn btn-success ms-auto" [routerLink]="['/p/tasks/create']">Add Task</button>
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap align-middle mb-0">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Due Date</th>
                  <th scope="col" style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasksUnstarted">
                  <td><a href="#" class="text-body">{{task.name}}</a></td>
                  <td>
                    <div> <span class="badge badge-soft-secondary mb-0" [ngClass]="{
                      'badge-soft-secondary': task.status === 'UNSTARTED'}">{{task.status}}</span>
                    </div>
                  </td>
                  <td>{{task.startdate}}</td>
                  <td>{{task.enddate}}</td>
                  <td>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item" (click)="detailTask(task,scrollDataModal)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="detail"
                          class="px-2 text-warning">
                          <i class="fa fa-search-plus text-warning font-size-14"></i>
                        </a>
                      </li>
                      <li class="list-inline-item" (click)="updateTask(task.id)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                          class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                      </li>
                      <li class="list-inline-item" (click)="onSelectTask(task);deleteMD(deleteModal)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                          class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start">
            <h4 class="card-title mb-4">In Progress</h4>
            <button class="btn btn-success ms-auto" [routerLink]="['/p/tasks/create']">Add Task</button>
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap align-middle mb-0">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Due Date</th>
                  <th scope="col" style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasksInprogress">
                  <td><a href="#" class="text-body">{{task.name}}</a></td>
                  <td>
                    <div>
                      <span class="badge badge-soft-info mb-0" [ngClass]="{
                      'badge-soft-info': task.status === 'INPROGRESS'}">{{task.status}}</span>
                    </div>
                  </td>
                  <td>{{task.startdate}}</td>
                  <td>{{task.enddate}}</td>
                  <td>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item" (click)="detailTask(task,scrollDataModal)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="detail"
                          class="px-2 text-warning">
                          <i class="fa fa-search-plus text-warning font-size-14"></i>
                        </a>
                      </li>
                      <li class="list-inline-item" (click)="updateTask(task.id)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                          class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                      </li>
                      <li class="list-inline-item" (click)="onSelectTask(task);deleteMD(deleteModal)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                          class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start">
            <h4 class="card-title mb-4">Completed</h4>
            <button class="btn btn-success ms-auto" [routerLink]="['/p/tasks/create']">Add Task</button>
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap align-middle mb-0">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Due Date</th>
                  <th scope="col" style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasksCompleted">
                  <td><a href="#" class="text-body">{{task.name}}</a></td>
                  <td>
                    <div>
                      <span class="badge badge-soft-success mb-0" [ngClass]="{
                      'badge-soft-success': task.status === 'COMPLETED'}">{{task.status}}</span>
                    </div>
                  </td>
                  <td>{{task.startdate}}</td>
                  <td>{{task.enddate}}</td>
                  <td>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item" (click)="detailTask(task,scrollDataModal)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="detail"
                          class="px-2 text-warning">
                          <i class="fa fa-search-plus text-warning font-size-14"></i>
                        </a>
                      </li>
                      <li class="list-inline-item" (click)="updateTask(task.id)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                          class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                      </li>
                      <li class="list-inline-item" (click)="onSelectTask(task);deleteMD(deleteModal)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                          class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start">
            <h4 class="card-title mb-4">Cancel</h4>
            <button class="btn btn-success ms-auto" [routerLink]="['/p/tasks/create']">Add Task</button>
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap align-middle mb-0">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Due Date</th>
                  <th scope="col" style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasksCancel">
                  <td><a href="#" class="text-body">{{task.name}}</a></td>
                  <td>
                    <div>
                      <span class="badge badge-soft-danger mb-0" [ngClass]="{
                      'badge-soft-danger': task.status === 'CANCEL'}">{{task.status}}</span>
                    </div>
                  </td>
                  <td>{{task.startdate}}</td>
                  <td>{{task.enddate}}</td>
                  <td>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item" (click)="detailTask(task,scrollDataModal)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="detail"
                          class="px-2 text-warning">
                          <i class="fa fa-search-plus text-warning font-size-14"></i>
                        </a>
                      </li>
                      <li class="list-inline-item" (click)="updateTask(task.id)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                          class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                      </li>
                      <li class="list-inline-item" (click)="onSelectTask(task);deleteMD(deleteModal)">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                          class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-3">Tasks</h4>
          <apx-chart dir="ltr" class="apex-charts" [series]="taskChart.series" [chart]="taskChart.chart"
            [yaxis]="taskChart.yaxis" [stroke]="taskChart.stroke" [colors]="taskChart.colors" [fill]="taskChart.fill"
            [plotOptions]="taskChart.plotOptions" [markers]="taskChart.markers" [labels]="taskChart.labels">
          </apx-chart>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Recent Tasks</h4>
          <div class="table-responsive">
            <table class="table table-nowrap align-middle mb-0">
              <tbody>
                <tr>
                  <td>
                    <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Brand
                        logo design</a></h5>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <img src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle avatar-xs">
                        </a>
                      </div>
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle avatar-xs">
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Create a
                        Blog Template
                        UI</a></h5>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <img src="assets/images/users/avatar-1.jpg" alt="" class="rounded-circle avatar-xs">
                        </a>
                      </div>
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <img src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle avatar-xs">
                        </a>
                      </div>
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <img src="assets/images/users/avatar-3.jpg" alt="" class="rounded-circle avatar-xs">
                        </a>
                      </div>
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <div class="avatar-xs">
                            <span class="avatar-title rounded-circle bg-info text-white font-size-16">
                              D
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Redesign
                        - Landing page</a>
                    </h5>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <img src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle avatar-xs">
                        </a>
                      </div>
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <img src="assets/images/users/avatar-5.jpg" alt="" class="rounded-circle avatar-xs">
                        </a>
                      </div>
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <div class="avatar-xs">
                            <span class="avatar-title rounded-circle bg-danger text-white font-size-16">
                              K
                            </span>
                          </div>
                        </a>
                      </div>
                      <div class="avatar-group-item">
                        <a href="javascript: void(0);" class="d-inline-block">
                          <img src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle avatar-xs">
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end table responsive -->
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div> <!-- container-fluid -->
<!-- Scrollable Modal -->
<ng-template #scrollDataModal let-modal>
  <div class="modal-header" *ngIf="selectTask">
    <h5 class="modal-title mt-0"> <i class="fas fa-money-check"></i>Task Details</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-auto ">
          </div>
          <div class="col d-flex flex-column flex-sm-row justify-content-between ">
            <div class="text-left text-sm-left  mb-sm-0" *ngIf="selectTask.creator">
              <h5 class="pt-sm-2 pb-1 mb-0 text-nowrap"><i class="fas fa-user-shield">
                  Created
                  by:
                  {{selectTask.creator.firstname}}</i>
              </h5>
              <div class="">
                <i class="fa fa-shield-alt float-right">
                  {{selectTask.creator.role}}</i>
              </div>
              <div class="text-muted"><small>
                  <div class=""> Contact: </div>
                  {{selectTask.creator.email}}
                </small></div>
            </div>
            <div class="text-center text-sm-right">
              <div *ngIf="selectTask.startdate" class="text-muted">
                <small> Start Date :
                </small>
              </div>
              <div *ngIf="selectTask.startdate" class="text-muted">
                <small>
                  {{selectTask.startdate | date:'shortDate'
                  }}</small>
              </div>
              <div class="text-muted" *ngIf="selectTask.enddate"><small>Due Date
                </small></div>
              <div *ngIf="selectTask.enddate" class="text-muted"><small>
                  {{selectTask.enddate|date:'shortDate'
                  }}</small></div>
              <div *ngIf="selectTask.createdate" class="text-muted">
                <small> Creation Date :
                </small>
              </div>
              <div *ngIf="selectTask.createdate" class="text-muted">
                <small>
                  {{selectTask.createdate | date:'shortDate'
                  }}</small>
              </div>
              <div *ngIf="selectTask.updatedate" class="text-muted"><small>Last Updated Date
                </small></div>
              <div *ngIf="selectTask.updatedate" class="text-muted"><small>
                  {{selectTask.updatedate|date:'shortDate'
                  }}</small></div>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush" *ngIf="selectTask.project">
        <li class="list-group-item"></li>
        <li class="list-group-item">
          <i class="fas fa-folder-open"> Project Name :
            {{selectTask.project.name}}</i>
        </li>
        <li class="list-group-item">
          <i class="fas fa-clipboard"> Task Name :
            {{selectTask.name}}</i>
        </li>
        <li class="list-group-item">
          <i class="fas fa-info-circle"> Description :
            {{selectTask.description}}
          </i>
        </li>
        <li class="list-group-item">
          <i class="fas fa-info-circle"> Status :
            {{selectTask.status}}
          </i>
        </li>
        <li class="list-group-item" *ngIf="selectTask.affectedTo">
          <i class="fas fa-user-tie ">Affected TO : {{selectTask.affectedTo.email}} </i>
        </li>
        <!--  <li class="list-group-item">
          <i class="fas fa-users "> Participants : </i>
        </li> -->
        <!--  <div class="col-lg-7" id="cluster_info">
          <dl class="">
            <dd class="project-people">
              <a href="">{{selectTask.affectedTo.firstname}}</a>
               <a href=""><img alt="image" class="img-circle" src="{{selectedSprint.chefAffecter.profileImageUrl}}"></a>
            </dd>
          </dl>
        </div> -->
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<!-- Delete task Large modal  templete -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Delete Task </h5>
    <button type="button" class="btn-close" id="delete-close" (click)="modal.dismiss('Cross click')"
      aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <p class="mb-0">Are you sure you want to delete this task</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-label waves-light" (click)="modal.close('Close click')"><i
        class="bx bx-block label-icon "></i> No</button>
    <button type="button" class="btn btn-success btn-label waves-light" (click)="onDeleteTask(this.selectTask.id)"><i
        class="bx bx-check-double label-icon"></i>
      Yes</button>
  </div>
</ng-template>
22 h 35
<!-- ng template -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add Customer</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="listData()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="tasktype">Task Type</label>
            <select class="form-select" formControlName="taskType">
              <option value="inprogress">Inprogress</option>
              <option value="upcoming">Upcoming</option>
              <option value="completed">Completed</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="control-label">Task title</label>
            <input class="form-control" placeholder="Enter title" type="text" name="title" formControlName="name"
              [ngClass]="{'is-invalid': submitted && form.name.errors}" />
            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
              <span *ngIf="form.name.errors.required">Name is required.</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="file">File</label>
            <input formControlName="file" id="file" type="file" multiple class="form-control"
              (change)="onFileChange($event)">
            <div *ngIf="submitted && form.file.touched && submitted && form.file.invalid" class="alert alert-danger">
              <div *ngIf="submitted && form.file.errors.required">File is required.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="status">Task Status</label>
            <select class="form-select" formControlName="status">
              <option value="Pending">Pending</option>
              <option value="Waiting">Waiting</option>
              <option value="Complete">Complete</option>
              <option value="Approved">Approved</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</ng-template>